@import "compass";
@import "susy";
@import "breakpoint";
@import "normalize.scss";
@import "mixins.scss";

$susy: (
	columns: 12,
	gutters: 1/4,
	math: fluid,
	output: float,
	gutter-position: inside,
);

// @include layout( 12 (60px 20px) split static); // 960gs