@import "susy";
@import "normalize.scss";

$susy: (
	columns: 12,
	gutters: 1/4,
	math: fluid,
	output: float,
	gutter-position: inside,
);

// @include layout( 12 (60px 20px) split static); // 960gs

body {
	background-color: #222;
	font-style: normal;
	font-size: 16px;
	color:#f00;
	
}

.wrapper {
	@include container(80%);
}

main {
	@include span(8 at 0 of 24);
}

aside {
	background-color: #f5f5f5;
	@include span(4 at 9);
}